<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.mall.user.action.dao.UserDAO">
    <resultMap id="adminMap" type="AdminUser">
        <id column="id" property="id"/>
        <result column="admin_id" property="adminId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="icon" property="icon"/>
        <result column="email" property="email"/>
        <result column="nick_name" property="nickName"/>
        <result column="note" property="note"/>
        <result column="create_time" property="createTime"/>
        <result column="login_time" property="loginTime"/>
        <result column="status" property="status"/>
        <result column="company_id" property="companyId"/>
        <result column="company_name" property="companyName"/>
    </resultMap>
    <!--    public int delectUser(int id);-->
    <delete id="delectUser">
        delete from ums_admin where id=#{id}
    </delete>
<!--    public int addUser(AdminUser adminUser);-->
    <insert id="addUser">
        insert into ums_admin(admin_id,username,password,email,note,create_time,status,company_id)
        values (#{adminId},#{username},#{password},#{email},#{note},#{createTime},#{status},#{companyId})
    </insert>
<!--    public String getCompanyId(String id);-->
    <select id="getCompanyId" resultType="String">
        select company_id
        FROM ums_admin
        where admin_id =#{adminId}
    </select>
<!--    public int grantRole(@Param("id") int id,@Param("rid")int rid);-->
    <insert id="grantRole">
        insert into ums_admin_role_relation (admin_id,role_id)
        values (#{id},#{rid})
    </insert>

</mapper>
