<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
		<style type="text/css">
			#container{
				width: 88%;
			}
			.form{
				display: inline-block;
			}
		</style>
	</head>
	<body>
		
		<div id="container">
			
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span><i class="el-icon-search"></i>&nbsp;筛选搜索</span>
					<el-button style="float: right; padding-bottom: 0.5rem;" type="primary" @click="search">查询搜索</el-button>
				</div>
				<div class="text item">
					<div class="demo-input-size">
					    <span class="demonstration">订单编号：</span>
					    <el-input v-model="form.id" placeholder="商品名称" style="width: 200px;"></el-input>
					    <span class="demonstration">收货人：</span>
					    <el-input v-model="form.name" placeholder="商品货号" style="width: 200px;"></el-input>
					    <span class="demonstration">订单状态：</span>
					    <el-cascader v-model="form.status" :options="options" @change="handleChange"></el-cascader>
					    <span class="demonstration">订单分类：</span>
					    <el-select v-model="form.type" placeholder="请选择">
					        <el-option v-for="item in options1" :key="item.value" :label="item.label" :value="item.value"></el-option>
					    </el-select>
					</div>
				</div>
			</el-card>
			
			
		</div>
		
	</body>
	<!-- 开发环境版本，包含了有帮助的命令行警告 -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el: "#container",
			data:{
				form:{
					id: "",
					name:"",
					status: "",
					type: ""
				}
			},
			methods:{
				search:function(){
					console.log("点击了搜索按钮");
				}
			}
		});
	</script>
</html>
