<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
    <title>商品列表</title>
    <style>
        #container{
            width: 90%;
        }
        .text {
            font-size: 14px;
        }
        .item {
            margin-bottom: 18px;
        }
        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }
        .clearfix:after {
            clear: both
        }
        .box-card {
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="container">
        <el-dialog title="详情" :visible.sync="dialogVisible" width="30%" :before-close="handleClose">
            <el-divider content-position="left">{{detailRow.detailTitle}}</el-divider>
            <span>商品编号：{{detailRow.productId}}</span>
            <el-divider></el-divider>
            <span>商品名称：{{detailRow.name}}</span>
            <el-divider></el-divider>
            <img :src="detailRow.pic" class="image" style="height: 200px;"/>
            <el-divider></el-divider>
            <span>商品分类名称：{{detailRow.productCategoryName}}</span>
            <el-divider></el-divider>
            <span>副标题：{{detailRow.subTitle}}</span>
            <el-divider></el-divider>
            <span>商品价格：{{detailRow.price}}</span>
            <el-divider></el-divider>
            <span>市场价：{{detailRow.originalPrice}}</span>
            <el-divider></el-divider>
            <span>商品描述：{{detailRow.description}}</span>
            <el-divider></el-divider>
            <span>销量：{{detailRow.sale}}</span>
            <el-divider></el-divider>
            <span>库存：{{detailRow.stock}}</span>
            <el-divider></el-divider>
            <span>库存预检值：{{detailRow.stock}}</span>
            <el-divider></el-divider>
            <span>单位：{{detailRow.unit}}</span>
            <el-divider></el-divider>
            <span>商品重量：{{detailRow.weight}} 克</span>
            <el-divider></el-divider>
            <span>是否为预告商品：</span>
            <span v-if="detailRow.previewStatus == 0">不是</span>
            <span v-if="detailRow.previewStatus == 1">是</span>
            <el-divider></el-divider>
            <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
          </span>
        </el-dialog>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span><i class="el-icon-search"></i> 筛选查询</span>
                <el-button type="primary" style="float: right;">查询结果</el-button>
                <el-button style="float: right; margin-right: 20px;">重置</el-button>
            </div>
            <div class="text item">
                <div class="demo-input-size">
                    <span class="demonstration">输入搜索：</span>
                    <el-input v-model="name" placeholder="商品名称" style="width: 200px;"></el-input>
                    <span class="demonstration">商品货号：</span>
                    <el-input v-model="productId" placeholder="商品货号" style="width: 200px;"></el-input>
                    <span class="demonstration">商品分类：</span>
                    <el-cascader v-model="value" :options="options" @change="handleChange"></el-cascader>
                    <span class="demonstration">商品品牌：</span>
                    <el-select v-model="value1" placeholder="请选择">
                        <el-option v-for="item in options1" :key="item.value" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                    <span class="demonstration">上架状态：</span>
                    <el-select v-model="state" placeholder="请选择">
                        <el-option label="未上架" :value="0"></el-option>
                        <el-option label="已上架" :value="1"></el-option>
                    </el-select>
                </div>
            </div>
        </el-card>
        <el-card class="box-card" :body-style="{ padding: '0px' }">
            <div slot="header" class="clearfix">
                <span><i class="el-icon-tickets"></i> 数据列表</span>
                <el-button style="float: right;" @click="addproduct">添加</el-button>
            </div>
        </el-card>
        <el-card class="box-card">
            <div class="text item">
                <template>
                    <el-table :data="tableData" height="550" border style="width: 100%">
                        <el-table-column prop="id" label="编号"></el-table-column>
                        <el-table-column prop="pic" label="商品图片" width="80">
                            <template slot-scope="scope">
                                <img :src="scope.row.pic" class="image" style="width: 3.125rem;height: 3.125rem;" />
                            </template>
                        </el-table-column>
                        <el-table-column :show-overflow-tooltip="true" prop="name" label="商品名称"></el-table-column>
                        <el-table-column prop="promoteDesc" label="价格/货号"></el-table-column>
                        <el-table-column label="套餐" fixed="right" width=80>
                            <template slot-scope="scope">
                                <el-button type="primary" icon="el-icon-edit" circle @click="productSku(scope.row)"></el-button>
                            </template>
                        </el-table-column>
                        <el-table-column prop="publishStatus" label="是否上架">
                            <template scope="scope">
                                <el-switch
                                    on-color="#5B7BFA"
                                    off-color="#dadde5"
                                    :active-value="1"
								    :inactive-value="0"
                                    v-model="scope.row.publishStatus" 
                                    @change=change(scope.row)                
                                >
                                </el-switch>
                                </template>
                        </el-table-column>
                        <el-table-column prop="sort" label="排序"></el-table-column>
                        <el-table-column prop="stock" label="库存"></el-table-column>
                        <el-table-column prop="sale" label="销量"></el-table-column>
                        <el-table-column label="操作" fixed="right" width="250">
                            <template slot-scope="scope">
                                <el-button size="mini" @click="handleClick(scope.row)">详情</el-button>
                                <el-button size="mini" @click="updateProduct(scope.row)">编辑</el-button>
                                <el-button size="mini" type="danger" @click.native.prevent="delProduct(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
                <template>
                    <div class="block" style="margin-bottom: 3.5rem;">
                        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" 
                        :current-page="currentPage4" :page-sizes="[5, 10, 20, 50]" 
                        :page-size="5" layout="total, sizes, prev, pager, next, jumper" :total="total">
                        </el-pagination>
                    </div>
                </template>
            </div>
        </el-card>
        <el-dialog title="套餐" :visible.sync="outerVisible">
            <el-table :data="skuData" border>
                <!-- <el-table-column prop="skuId" label="套餐编号""></el-table-column> -->
                <el-table-column :show-overflow-tooltip="true" prop="skuId" label="编号"></el-table-column>
                <el-table-column prop="color" label="颜色"></el-table-column>
                <el-table-column prop="size" label="尺寸/容量"></el-table-column>
                <el-table-column prop="price" label="销售价格"></el-table-column>
                <el-table-column prop="stock" label="库存"></el-table-column>
                <el-table-column label="操作" fixed="right">
                    <template slot-scope="scope">
                        <el-button size="mini" type="danger" @click.native.prevent="delProductSku(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-dialog
              width="30%"
              title="套餐添加"
              :visible.sync="innerVisible"
              append-to-body>
            <template>
                <el-form ref="skuFormData" :model="skuFormData" label-width="100px">
                    <el-form-item label="颜色：">
                        <el-input v-model="skuFormData.color" style="width: 200px;"></el-input>
                    </el-form-item>
                    <el-form-item label="尺寸：">
                        <el-input v-model="skuFormData.size" style="width: 200px;"></el-input>
                    </el-form-item>
                    <el-form-item label="售价：">
                        <el-input v-model="skuFormData.price" style="width: 200px;"></el-input>
                    </el-form-item>
                    <el-form-item label="库存：">
                        <el-input v-model="skuFormData.stock" style="width: 200px;"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="innerVisible = false">取 消</el-button>
                    <el-button type="primary" @click="productSkuSubmit">确定</el-button>
                </div>
            </template>
            </el-dialog>
            <div slot="footer" class="dialog-footer">
                <el-button @click="outerVisible = false">取 消</el-button>
                <el-button type="primary" @click="productSkuAdd">添加</el-button>
            </div>
        </el-dialog>
    </div>
</body>
	<!-- 开发环境版本，包含了有帮助的命令行警告 -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el:"#container",
            data:{
                outerVisible:false,
                innerVisible:false,
                dialogVisible:false,
                token:"",
                total: 100,
                currentPage4:1,
                name:"",
                productId:"",
                state:"",
                value: [],
                value1: "",
                tableData:[],
                skuData:[],
                skuFormData:{
                    color:"",
                    size:"",
                    price:"",
                    stock:""
                },
                options:[
                {
                    value: 'ziyuan',
                    label: '资源',
                    children: [{
                        value: 'axure',
                        label: 'Axure Components'
                    },{
                        value: 'sketch',
                        label: 'Sketch Templates'
                    },{
                        value: 'jiaohu',
                        label: '组件交互文档'
                    }]
                }
                ],
                options1: [{
                    value: '选项1',
                    label: '黄金糕'
                    }, {
                    value: '选项2',
                    label: '双皮奶'
                    }, {
                    value: '选项3',
                    label: '蚵仔煎'
                    }, {
                    value: '选项4',
                    label: '龙须面'
                    }, {
                    value: '选项5',
                    label: '北京烤鸭'
                    }
                ],
                active: 0,
                page:1,
                pageSize:5,
                detailRow:[]
                },
            beforeMount:function(){
                var tokenStr = "";
				var str = document.cookie;
				var arr = str.split(";");
				for(var i=0;i<arr.length;i++){
					var s = arr[i];
					if(s.split("=")[0].trim() == "token"){
						tokenStr = s.split("=")[1];
						break;
					}
				}
				if (tokenStr === "") {
					top.location = "login.html";
				}
                axios({
					method: 'get',
					url: 'http://localhost:8766/product/product/list',
					params: {
						page: 1,
						pageSize: 5
					},
                    headers: {
                        'token': tokenStr
                    }
				})
				.then(function(res){
					console.log(res.data.data);
                    vm.tableData = res.data.data.list;
                    vm.total = res.data.data.total;
				});
            },
            methods:{
                change:function(row){
                    console.log(row.publishStatus);
                    var tokenStr = "";
                    var str = document.cookie;
                    var arr = str.split(";");
                    for(var i=0;i<arr.length;i++){
                        var s = arr[i];
                        if(s.split("=")[0].trim() == "token"){
                            tokenStr = s.split("=")[1];
                            break;
                        }
                    }
                    if (tokenStr === "") {
                        top.location = "login.html";
                    }
                    axios({
                        method: 'post',
                        url: 'http://localhost:8766/productUrd/productUrd/updateStatus',
                        params: {
                            publishStatus:row.publishStatus,
                            productId:row.productId
                        },
                        headers: {
                            'token': tokenStr
                        }
                    })
                    .then(function(res){
                        console.log(res.data);
                        if (res.data.code === 0) {
                            vm.$message({
                                message: '修改成功',
                                type: 'success'
                            });
                        } else{
                                vm.$message.error({
                                    message: '修改失败'
                                });
                            }
                    });
                },
                handleChange:function(value) {
                    console.log(value);
                },
                next:function(){
                    this.active++;
                },
                pre:function() {
                    this.active--;
                },
                submit:function(){
                    console.log("111");
                },
                handleSizeChange:function(event){
					console.log(event);
					vm.pageSize = event;
                    var tokenStr = "";
                    var str = document.cookie;
                    var arr = str.split(";");
                    for(var i=0;i<arr.length;i++){
                        var s = arr[i];
                        if(s.split("=")[0].trim() == "token"){
                            tokenStr = s.split("=")[1];
                            break;
                        }
                    }
                    if (tokenStr === "") {
                        top.location = "login.html";
                    }
					axios({
						method: 'get',
						url: 'http://localhost:8766/product/product/list',
						headers: {'token': tokenStr},
						params: {
							pageSize:vm.pageSize,
							page:1
						}
					}).then(function(res) {
						vm.tableData = res.data.data.list;
					});
				},
                handleCurrentChange:function(event){
					console.log(event);
                    var tokenStr = "";
                    var str = document.cookie;
                    var arr = str.split(";");
                    for(var i=0;i<arr.length;i++){
                        var s = arr[i];
                        if(s.split("=")[0].trim() == "token"){
                            tokenStr = s.split("=")[1];
                            break;
                        }
                    }
                    if (tokenStr === "") {
                        top.location = "login.html";
                    }
					axios({
						method: 'get',
						url: 'http://localhost:8766/product/product/list',
						headers: {'token': tokenStr},
						params: {
							pageSize:vm.pageSize,
							page:event
						}
					}).then(function(res) {
						vm.tableData = res.data.data.list;
					});
                },
                addproduct:function(){
                    location.href = "product-add.html";
                },
                handleClose:function(done) {
					this.$confirm('确认关闭？')
					.then(_ => {
						done();
					})
					.catch(_ => {});
                },
                handleClose1:function(done) {
					this.$confirm('确认关闭？')
					.then(_ => {
						done();
					})
					.catch(_ => {});
                },
                handleClick:function(row){
                    console.log(row);
                    vm.detailRow = row;
                    vm.dialogVisible = true;
                },
                updateProduct:function(row){
                    localStorage.setItem("row", JSON.stringify(row));
                    location.href = "product-update.html";
                },
                delProduct:function(row){
                    console.log(row.productId);
                    this.$confirm('此操作将永久删除该商品, 是否继续?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
                        var tokenStr = "";
                        var str = document.cookie;
                        var arr = str.split(";");
                        for(var i=0;i<arr.length;i++){
                            var s = arr[i];
                            if(s.split("=")[0].trim() == "token"){
                                tokenStr = s.split("=")[1];
                                break;
                            }
                        }
                        if (tokenStr === "") {
                            top.location = "login.html";
                        }
						axios({
							method: 'delete',
							url: 'http://localhost:8766/productUrd/productUrd/del',
							headers: {'token': tokenStr},
							params: {
								productId:row.productId
							}
					    }).then(function(res) {
                            console.log(res);
                            if (res.data.code === 0) {
                                vm.$message({
                                    message: '删除成功',
                                    type: 'success'
                                });
                                setTimeout(function () {
                                    location.href = "product-list.html";
                                },2000);
                            } else{
                                vm.$message.error({
                                    message: '删除失败'
                                });
                            }
                        });
                        }).catch(() => {
                            this.$message({
                                type: 'info',
                                message: '已取消删除'
                            });          
                        });
                },
                productSku:function(row){
                    console.log(row.productId);
                    vm.productId = row.productId;
                    vm.outerVisible = true;
                    var tokenStr = "";
                    var str = document.cookie;
                    var arr = str.split(";");
                    for(var i=0;i<arr.length;i++){
                        var s = arr[i];
                        if(s.split("=")[0].trim() == "token"){
                            tokenStr = s.split("=")[1];
                            break;
                        }
                    }
                    if (tokenStr === "") {
                        top.location = "login.html";
                    }
					axios({
						method: 'get',
						url: 'http://localhost:8766/productSku/productSku/list',
						headers: {'token': tokenStr},
                        params:{
                            productId:row.productId
                        }
					}).then(function(res) {
						console.log(res.data.data)
                        vm.skuData = res.data.data;
					});
                },
                productSkuAdd:function(){
                    console.log("111");
                    vm.innerVisible = true;
                },
                delProductSku:function(row){
                    console.log(row.skuId)
                    this.$confirm('此操作将永久删除该套餐, 是否继续?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
                        var tokenStr = "";
                        var str = document.cookie;
                        var arr = str.split(";");
                        for(var i=0;i<arr.length;i++){
                            var s = arr[i];
                            if(s.split("=")[0].trim() == "token"){
                                tokenStr = s.split("=")[1];
                                break;
                            }
                        }
                        if (tokenStr === "") {
                            top.location = "login.html";
                        }
						axios({
							method: 'delete',
							url: 'http://localhost:8766/productSku/productSku/del',
							headers: {'token': tokenStr},
							params: {
								skuId:row.skuId
							}
					    }).then(function(res) {
                            console.log(res);
                            if (res.data.code === 0) {
                                vm.$message({
                                    message: '删除成功',
                                    type: 'success'
                                });
                                setTimeout(function () {
                                    location.href = "product-list.html";
                                },2000);
                            } else{
                                vm.$message.error({
                                    message: '删除失败，请联系管理员！'
                                });
                            }
                        });
                    })
                },
                productSkuSubmit:function(){
                    console.log(vm.skuFormData);
                    var tokenStr = "";
                    var str = document.cookie;
                    var arr = str.split(";");
                    for(var i=0;i<arr.length;i++){
                        var s = arr[i];
                        if(s.split("=")[0].trim() == "token"){
                            tokenStr = s.split("=")[1];
                            break;
                        }
                    }
                    if (tokenStr === "") {
                        top.location = "login.html";
                    }
                    axios({
						method: 'post',
						url: 'http://localhost:8766/productSku/productSku/add',
						headers: {'token': tokenStr},
						params: {
							productId:vm.productId,
                            color:vm.skuFormData.color,
                            size:vm.skuFormData.size,
                            price:vm.skuFormData.price,
                            stock:vm.skuFormData.stock
						}
					}).then(function(res) {
                        console.log(res);
                        if (res.data.code === 0) {
                            vm.$message({
                                message: '添加成功',
                                type: 'success'
                            });
                            setTimeout(function () {
                                location.href = "product-list.html";
                            },2000);
                        } else{
                            vm.$message.error({
                                message: '添加失败，请联系管理员！'
                            });
                        }
                    });
                }
            }
        });
    </script>
</html>