<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
		<style type="text/css">
			#container{
				width: 88%;
				height: 100%;
			}
		</style>
	</head>
	<body>
		
		<div id="container">
			
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span><i class="el-icon-search"></i>&nbsp;筛选搜索</span>
					<el-button style="float: right; padding-bottom: 0.5rem;" type="primary" @click="search">查询搜索</el-button>
				</div>
				<div class="text item">
					<div class="demo-input-size">
					    <span class="demonstration">输入搜索：</span>
					    <el-input v-model="form.id" placeholder="订单编号" style="width: 200px;"></el-input>
					    <span class="demonstration">操作人员：</span>
					    <el-input v-model="form.name" placeholder="管理员名称" style="width: 200px;"></el-input>
					    <span class="demonstration">订单状态：</span>
					    <el-cascader v-model="form.status"></el-cascader>
					</div>
				</div>
			</el-card>
			
			<el-card class="box-card" style="margin-top: 0.625rem;">
				数据列表
			</el-card>
			
		</div>
		
	</body>
	<!-- 开发环境版本，包含了有帮助的命令行警告 -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el:"#container",
			data:{
				token: "",
				form:{
					id: "",
					name:"",
					status: ""
				}
			},
			methods:{
				search:function(){
					console.log("点击了搜索按钮");
				}
			}
		});
	</script>
</html>
