<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
		<style type="text/css">
			#container{
				width: 88%;
				height: 100%;
			}
		</style>
	</head>
	<body>
		
		<div id="container">
			
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span><i class="el-icon-search"></i>&nbsp;筛选搜索</span>
					<el-button style="float: right; padding-bottom: 0.5rem;" type="primary" @click="search">查询搜索</el-button>
				</div>
				<div class="text item">
					<div class="demo-input-size">
					    <span class="demonstration">输入搜索：</span>
					    <el-input v-model="form.id" placeholder="订单编号" style="width: 200px;"></el-input>
					    <span class="demonstration">操作人员：</span>
					    <el-input v-model="form.name" placeholder="管理员名称" style="width: 200px;"></el-input>
					    <span class="demonstration">订单状态：</span>
					    <el-cascader v-model="form.status"></el-cascader>
					</div>
				</div>
			</el-card>
			
			<el-card class="box-card" style="margin-top: 0.625rem;">
				数据列表
			</el-card>
			
			<template>
			    <el-table :data="tableData" border style="width: 100%;margin-top: 0.625rem;">
					<el-table-column prop="id" label="服务单号" width="180"></el-table-column>
					<el-table-column prop="createTime" label="申请时间" width="180"></el-table-column>
					<el-table-column prop="memberUsername" label="用户账号" width="180"></el-table-column>
					<el-table-column prop="returnAmount" label="退款金额" width="180"></el-table-column>
					<el-table-column prop="status" label="申请状态" width="180">
						<template slot-scope="scope">
							<p v-if="scope.row.status=='0'">待处理</p>
							<p v-if="scope.row.status=='1'">退货中</p>
							<p v-if="scope.row.status=='2'">已完成</p>
							<p v-if="scope.row.status=='3'">已拒绝</p>
						</template>
					</el-table-column>
					<el-table-column prop="handleTime" label="处理时间" width="180"></el-table-column>
					<el-table-column label="操作" fixed="right">
					    <template slot-scope="scope">
					        <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
					        <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
					      </template>
					    </el-table-column>
				</el-table>
			</template>
			
			<el-card class="box-card" style="margin-top: 0.625rem;margin-bottom: 3.5rem;">
				<template>
					<div class="block">
						<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage"
						  :page-sizes="[10, 20, 50, 100]" :page-size="10"
						  layout="total, sizes, prev, pager, next, jumper" :total="total">
						</el-pagination>
					</div>
				</template>	
			</el-card>
			
			<el-dialog title="提示" :visible.sync="dialogVisible" width="30%" :before-close="handleClose">
				<el-divider content-position="left">退货商品</el-divider>
				<span>商品图片：<img :src="updaterow.productPic" style="height: 3.125rem;" /></span>
				<el-divider></el-divider>
				<span>商品名称：{{updaterow.productName}}</span>
				<el-divider></el-divider>
				<span>价格：{{updaterow.productPrice}}</span>
				<el-divider></el-divider>
				<span>属性：{{updaterow.productAttr}}</span>
				<el-divider></el-divider>
				<span>数量：{{updaterow.productCount}}</span>
				<el-divider></el-divider>
				<span>小计：{{updaterow.returnAmount}}</span>
				<el-divider></el-divider>
				<el-divider content-position="left">服务单信息</el-divider>
				<span>服务单号：{{updaterow.id}}</span>
				<el-divider></el-divider>
				<span>申请状态：</span>
				<span v-if="updaterow.status == 0">待处理</span>
				<span v-if="updaterow.status == 1">退货中</span>
				<span v-if="updaterow.status == 2">已完成</span>
				<span v-if="updaterow.status == 3">已拒绝</span>
				<el-divider></el-divider>
				<span>订单编号：{{updaterow.orderId}}</span>
				<el-divider></el-divider>
				<span>申请时间：{{updaterow.createTime}}</span>
				<el-divider></el-divider>
				<span>用户账号：{{updaterow.memberUsername}}</span>
				<el-divider></el-divider>
				<span>联系人：{{updaterow.returnName}}</span>
				<el-divider></el-divider>
				<span>联系电话：{{updaterow.returnPhone}}</span>
				<el-divider></el-divider>
				<span>退货原因：{{updaterow.reason}}</span>
				<el-divider></el-divider>
				<span slot="footer" class="dialog-footer">
					<el-button @click="dialogVisible = false">取 消</el-button>
					<el-button type="primary" @click="sumbitYes(updaterow.id)">确认退货</el-button>
					<el-button type="primary" @click="sumbitNo(updaterow.id)">取消退货</el-button>
					<el-button type="primary" @click="sumbitSuccess(updaterow.id)">完成退货</el-button>
				</span>
			</el-dialog>
			
		</div>
		
	</body>
	<!-- 开发环境版本，包含了有帮助的命令行警告 -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el:"#container",
			data:{
				tableData:[],
				token: "",
				form:{
					id: "",
					name:"",
					status: ""
				},
				currentPage: 1,
				total: 100,
				size: 1,
				pageSize: 10,
				dialogVisible: false,
				updaterow: []
			},
			beforeMount:function(){
				var tokenStr = "";
				var str = document.cookie;
				var arr = str.split(";");
				for(var i=0;i<arr.length;i++){
					var s = arr[i];
					if(s.split("=")[0].trim() == "token"){
						tokenStr = s.split("=")[1];
						break;
					}
				}
				if (tokenStr === "") {
					top.location = "login.html";
				}
				axios({
					method: 'get',
					url: 'http://localhost:8766/returnApply/apply/list',
					headers: {'token': tokenStr},
					params: {
						page: 1,
						pageSize: 10
					}
				}).then(function(res) {
					if (res.data.code === 1) {
						top.location = "login.html";
					}
					vm.tableData = res.data.data.list;
					vm.total = res.data.data.total;
				});
				this.token = tokenStr;
			},
			methods:{
				search:function(){
					console.log("点击了搜索按钮");
				},
				handleSizeChange:function(event) {
					vm.pageSize = event;
					axios({
						method: 'get',
						url: 'http://localhost:8766/returnApply/apply/list',
						headers: {'token': vm.token},
						params: {
							page: vm.size,
							pageSize: event
						}
					}).then(function(res) {
						vm.tableData = res.data.data.list;
						vm.total = res.data.data.total;
					});
				},
				handleCurrentChange:function(event){
					axios({
						method: 'get',
						url: 'http://localhost:8766/returnApply/apply/list',
						headers: {'token': vm.token},
						params: {
							page: event,
							pageSize: vm.pageSize
						}
					}).then(function(res) {
						console.log(res);
						vm.tableData = res.data.data.list;
						vm.total = res.data.data.total;
					});
				},
				handleDelete:function(index,row){
					this.$confirm('此操作将永久删除该申请, 是否继续?', '删除确认', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						axios({
							method: 'delete',
							url: 'http://localhost:8766/returnApply/apply/delete',
							headers: {'token': vm.token},
							params: {
								id: row.id
							}
						}).then(function(res) {
							if(res.data.code == 0) {
								vm.$message({
									message: '删除成功',
									type: 'success'
								});
								setTimeout(function () {
									location.href="return-apply.html";
								},2000);
							} else {
								vm.$message.error('删除失败');
							}
						});
					}).catch(() => {
					  this.$message({
						type: 'info',
						message: '已取消删除'
					  });          
					});
				},
				handleEdit:function(index,row){
					vm.dialogVisible = true;
					let obj = JSON.parse(JSON.stringify(row));
					vm.updaterow = obj;
				},
				sumbitYes:function(id){
					this.$confirm('此操作风险操作, 是否继续?', '请确认', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						axios({
							method: 'post',
							url: 'http://localhost:8766/returnApply/apply/update',
							headers: {'token': vm.token},
							params: {
								id: id,
								status: 1
							}
						}).then(function(res) {
							if(res.data.code == 0) {
								vm.$message({
									message: '退货处理成功',
									type: 'success'
								});
								setTimeout(function () {
									location.href="return-apply.html";
								},2000);
							} else {
								vm.$message.error('退货处理失败');
							}
						});
					}).catch(() => {
					  this.$message({
						type: 'info',
						message: '失误啦！'
					  });          
					});
				},
				sumbitNo:function(id){
					this.$confirm('此操作风险操作, 是否继续?', '请确认', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						axios({
							method: 'post',
							url: 'http://localhost:8766/returnApply/apply/update',
							headers: {'token': vm.token},
							params: {
								id: id,
								status: 3
							}
						}).then(function(res) {
							if(res.data.code == 0) {
								vm.$message({
									message: '取消退货成功',
									type: 'success'
								});
								setTimeout(function () {
									location.href="return-apply.html";
								},2000);
							} else {
								vm.$message.error('取消退货失败');
							}
						});
					}).catch(() => {
					  this.$message({
						type: 'info',
						message: '失误啦！'
					  });          
					});
				},
				sumbitSuccess:function(id){
					this.$confirm('此操作风险操作, 是否继续?', '请确认', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						axios({
							method: 'post',
							url: 'http://localhost:8766/returnApply/apply/update',
							headers: {'token': vm.token},
							params: {
								id: id,
								status: 2
							}
						}).then(function(res) {
							if(res.data.code == 0) {
								vm.$message({
									message: '已完成退货',
									type: 'success'
								});
								setTimeout(function () {
									location.href="return-apply.html";
								},2000);
							} else {
								vm.$message.error('退货处理失败');
							}
						});
					}).catch(() => {
					  this.$message({
						type: 'info',
						message: '失误啦！'
					  });          
					});
				},
				handleClose(done) {
					this.$confirm('确认关闭？')
					  .then(_ => {
						done();
					  })
					  .catch(_ => {});
				}
			}
		});
	</script>
</html>
