<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
		<style type="text/css">
			#container{
				width: 88%;
				height: 100%;
			}
		</style>
	</head>
	<body>
		
		<div id="container">
			
			<el-card class="box-card" style="width: 98%;margin: 0 auto; margin-bottom: 5rem;">
				<div slot="header" class="clearfix">
					<span><i class="el-icon-message-solid">秒杀列表</i></span>
				</div>
				<template>
					<el-table :data="tableData" border style="width: 100%">
						<el-table-column prop="id" label="编号" width="180"></el-table-column>
						<el-table-column prop="title" label="活动标题" width="180"></el-table-column>
						<el-table-column label="活动状态">
							<template slot-scope="scope">
								<p v-if="scope.row.startDate < new Date()">已结束</p>
								<p v-if="scope.row.endDate > new Date()">未开始</p>
							</template>
						</el-table-column>
						<el-table-column prop="startDate" label="开始时间"></el-table-column>
						<el-table-column prop="endDate" label="结束时间"></el-table-column>
						<el-table-column prop="status" label="上线下线"></el-table-column>
						<el-table-column label="操作">
						      <template slot-scope="scope">
						        <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
						      </template>
						    </el-table-column>
					</el-table>
				</template>	
			</el-card>
			
		</div>
		
	</body>
	<!-- 开发环境版本，包含了有帮助的命令行警告 -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el:"#container",
			data:{
				token: "",
				tableData: []
			},
			beforeMount:function(){
				var tokenStr = "";
				var str = document.cookie;
				var arr = str.split(";");
				for(var i=0;i<arr.length;i++){
					var s = arr[i];
					if(s.split("=")[0].trim() == "token"){
						tokenStr = s.split("=")[1];
						break;
					}
				}
				if (tokenStr === "") {
					top.location = "login.html";
				}
				axios({
				  method: 'get',
				  url: 'http://localhost:8766/spike/spike/list',
				  headers: {'token': tokenStr}
				})
				.then(function(res){
					console.log(res);
					if(res.data.code == 0){
						vm.tableData = res.data.data;
					}
				});
				this.token = tokenStr;
			},
			methods:{
				handleDelete:function(index,row){
					console.log(index,row.id);
					this.$confirm('此操作将永久删除该订单, 是否继续?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						axios({
							method: 'delete',
							url: 'http://localhost:8766/spike/spike/delete',
							headers: {'token': vm.token},
							params: {
								id: row.id	
							}
					  }).then(function(res) {
						if (res.data.code === 0) {
							vm.$message({
								message: '删除成功',
								type: 'success'
							});
							setTimeout(function () {
								location.href = "spike-list.html";
							},2000);
					  	} else{
					  		vm.$message.error({
					  		    message: '删除失败'
					  		});
					  	}
					  });
					}).catch(() => {
					  this.$message({
						type: 'info',
						message: '已取消删除'
					  });          
					});
				}
			}
		});
	</script>
</html>
