# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml

# Package Files #
*.jar
*.war

# out
mall-address-list/target
mall-address-list/*.iml

mall-admin-auth/target
mall-admin-auth/*.iml

mall-admin-home/target
mall-admin-home/*.iml

mall-admin-product-add/target
mall-admin-product-add/*.iml

mall-admin-product-attribute-category-list/target
mall-admin-product-attribute-category-list/*.iml

mall-admin-product-category-add/target
mall-admin-product-category-add/*.iml

mall-admin-product-category-list/target
mall-admin-product-category-list/*.iml

mall-admin-product-category-ud/target
mall-admin-product-category-ud/*.iml

mall-admin-product-urd/target
mall-admin-product-urd/*.iml

mall-common/target
mall-common/*.iml

mall-config/target
mall-config/*.iml

mall-eureka/target
mall-eureka/*.iml

mall-product-list/target
mall-product-list/*.iml

mall-role-list/target
mall-role-iist/*.iml

mall-user-list/target
mall-user-iist/*.iml

mall-user-action/target
mall-user-action/*.iml

mall-zuul/target
mall-zuul/*.iml

mall-admin-order-list/target
mall-admin-order-list/*.iml

mall-admin-order-return-apply/target
mall-admin-order-return-apply/*.iml

mall-admin-order-return-reason/target
mall-admin-order-return-reason/*.iml