<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.mall.address.list.dao.AddressDAO">

    <resultMap id="addressMap" type="Address">
        <id column="id" property="id"/>
        <result column="address_id" property="addressId"/>
        <result column="member_id" property="memberId"/>
        <result column="name" property="name"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="default_status" property="defaultStatus"/>
        <result column="post_code" property="postCode"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="region" property="region"/>
        <result column="detail_address" property="detailAddress"/>
    </resultMap>
    <select id="getAllListByMemberId" resultMap="addressMap">
        select address_id,member_id,name,phone_number,default_status,post_code,province,city,region,detail_address
        from ums_member_receive_address
        where address_id = #{addressId}
    </select>
</mapper>