<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.mall.admin.product.category.ud.dao.ProductCategoryDAO">

<!--    public boolean productCategoryDel(Integer productCategoryId);   //删除商品分类-->
    <delete id="productCategoryDel">
        delete from pms_product_category where id = #{productCategoryId}
    </delete>

<!--    public boolean productCategoryUpdate(ProductCategory productCategory); //修改商品分类-->
    <update id="productCategoryUpdate">
        update pms_product_category set name =#{name},parent_id=#{parentId},level=#{level},product_unit=#{productUnit},sort=#{sort},description=#{description}
        where id = #{id}
    </update>

</mapper>