<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.mall.role.list.dao.RoleDAO">
    <resultMap id="roleMap" type="com.mall.common.pojo.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="admin_count" property="adminCount"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
    </resultMap>
<!--    public List<Role> selectAllRole();-->
    <select id="selectAllRole" resultMap="roleMap">
        select
            id,
            name,
            description,
            admin_count,
            create_time,
            status,
            sort
        from ums_role
    </select>
<!--    public int insertRole(Role role);-->
    <insert id="insertRole">
        insert into ums_role (name ,description,admin_count,create_time,status,sort)
        values (#{name},#{description},#{adminCount},#{createTime},#{status},#{sort})
    </insert>

<!--    public int updateRole(@Param("id") int id, @Param("name") String name, @Param("description") String description);-->
    <update id="updateRole">
         update ums_role set
        name = #{name},
        description = #{description}
        where id = #{id}
    </update>

<!--    public int delRole(int id);-->
    <delete id="delRole">
        delete from ums_role
        where id = #{id}
    </delete>
<!--    public int switchRole(@Param("id") int id,@Param("status")int status);-->
    <update id="switchRole">
         update ums_role set
        status = #{status}
        where id = #{id}
    </update>
</mapper>
