<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.mall.admin.auth.dao.AdminDAO">
    <resultMap id="adminMap" type="AdminUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="icon" property="icon"/>
        <result column="email" property="email"/>
        <result column="nick_name" property="nickName"/>
        <result column="note" property="note"/>
        <result column="create_time" property="createTime"/>
        <result column="login_time" property="loginTime"/>
        <result column="status" property="status"/>
        <result column="company_id" property="companyId"/>
        <result column="company_name" property="companyName"/>
    </resultMap>
<!--    public AdminUser getAdminUser(@Param("username") String username,
        @Param("password") String password);-->
    <select id="getAdminUser">
        select id,username,password,icon,email,nick_name,note,create_time,login_time,status,company_id,company_name
        from ums_admin
        where username = #{username},#{password}
    </select>
</mapper>