<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.mall.admin.product.add.dao.ProductAddDAO">


<!--    public boolean productAdd(Product product); //商品添加-->
    <insert id="productAdd">
        insert into pms_product(product_id,product_category_id,product_attribute_category_id,name,pic,publish_status,sort,price,sub_title,description,original_price,stock,unit,weight,preview_status,note,detail_title,detail_desc,company_id)
        values (#{productId},#{productCategoryId},#{productAttributeCategoryId},#{name},#{pic},#{publishStatus},#{sort},#{price},#{subTitle},#{description},#{originalPrice},#{stock},#{unit},#{weight},#{previewStatus},#{note},#{detailTitle},#{detailDesc},#{companyId})
    </insert>

<!--    public String searchCompanyIdByAdminUUID(String adminId); //通过用户UUID查询公司ID-->
    <select id="searchCompanyIdByAdminUUID" resultType="String">
        select company_id from ums_admin where admin_id = #{adminId}
    </select>

</mapper>